p{font-size:12px}

html{
     
    height:100%;
    font-family: arial; 
    /* background-color*/


    background-color : #0066ff;
    background : -webkit-linear-gradient(top left,#fff 0%, #0d6aff 100%);
    background : -moz-linear-gradient(top left,#fff 0%, #0066ff 100%);
    background : linear-gradient(top,#919191 0%, #0066ff 100%);
}


#input span{
  background-color : rgb(255,255,0);
}
.column-left{
    margin : 0;
    margin-left: 10px; 
    width : 40%;
    float:left;
            }
.column-right{
    margin : 0;
    width : 30%;
    height: 100%;
    margin-top:auto;
    margin-right: 15%;
    padding-right: 40px;
    float : right;

    }

table{
  table-layout: fixed;
  border-collapse:collapse;   
}

th{
    font-size:small;
    border-bottom:solid; 
    border-right:1px solid;
    padding-right: 10px;
}
td{
  font-size:12px;
  border-bottom:solid;
  padding-bottom:0px; 
  margin-bottom:0px; 
}


textarea{
    resize:none;
}

button{
  color:orange;
  border-radius : 5px;  
}

#Translate{
    border-radius: 25px;
    color:blue;  
}

.navbar{
 

    background-color : #0066ff;
    background : -webkit-linear-gradient(to right,#000 0%, #0066ff 100%);
    background : -moz-linear-gradient(to right,#000 0%, #0066ff 100%);
    background : linear-gradient(to right,#000 0%, #0066ff 100%); 
    margin-bottom:0px; 
    padding-bottom:0px;  
    padding-left: 40px; 
}
h1{
  background-color:white;
  margin-top:0px; 
  margin-left:0px; 
  padding-left:40px;
  border-bottom:4px solid grey;
  font-family: 'Menlo-Regular, Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif'
}
.navbar a{
  color:gold;
  text-decoration:underline;
  text-decoration-skip: unset;
}
body{
  padding-left:0px;
  margin-left:0px;
  margin-bottom: 0px;
  margin-top:0px; 
  margin-right:0px;
}

#input{
  height:300px;
  width: 400px;
  background-color: whitesmoke;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

/* Here's the tooltip stuff */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: collapse;
  width: 120px;
  background-color:lightgray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  color:blue;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

a {
  color:blue;
  text-decoration:underline;
  }
#updated {
    font-style:italic; 
}