<LINK REL=StyleSheet HREF="/css" TYPE="text/css" MEDIA=screen>
<html><head>
<script src="../static/jquery.js"></script>
<script>
  function mg() {
    console.log("I'm home!");
  }
  
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON('/_add_numbers', {
        a: 45,
        b: 45
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script>
</head>


<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>
<input type="submit">
</html>


<!--
console.log("hello")
//console.log(retainer.slice(1,(retainer.length -1)))

var json_in = retainer.slice(1,(retainer.length -1));

var keys_patt = /\(\'.*\', \'.*\'\):/
var key_patt = /\'.*\'/
var keys = (json_in.match(keys_patt)[0]).match(key_patt)
var lemma = keys[0]
var instance = keys[1]

var all_answers_patt = /\[.*\]/
var individual_answers_patt

console.log('ok')
console.log(keys)
console.log('not ok')
-->

