<!DOCTYPE html>

<html>
<p id="lang_code">{{lang_code}}</p>
<link rel="stylesheet" type="text/css" href="css">
<div class='navbar'>
    <a href='/main/eng'>In English</a><span> </span>
    <a href='/main/suo'>Suomeksi</a><span> </span>
    <a href='/main/sve'>På Svenska</a>
</div>

<h1 id='welcome'></h1>

<div class='main'>
<div class='row'>
    <div class='column-left'>

        
        <h2 id='about'></h2>
        <p id='intro'>
            The intro goes here (If you're reading this, something went wrong with the ajax call)
        </p>
        <p id='p2'> 
        </p>

        <p id='p3'> 
        </p>
        <p id='p4' > </p>
        <p id='updated'></p>
        <h2 id='instructions'></h2>
        <p id='p5'> 
        </p>
        <p id='p6'> 
        </p>


    </div>
    <div class='column-right'>
        <div contenteditable="true" id="input" placeholder=' Enter Text Here '></div>
        <br>
        <input type='submit' value="Translate", id="Translate">
        <p id="result"></p>

        <table id='answers'>
            <thead>
            <tr>
                <th id='rootword'></th>
                <th id='instance'></th>
                <th id='definition'></th>
                <th id='examples'></th>
                <th id='upvotes'></th>
                <th id='downvotes'></th>
                <th id='cycle_up'></th>
                <th id='cycle_down'></th>
                <th id='report'></th>
            </tr>
            </thead>
            <tbody id='answers_body'>

            </tbody>
        

        </table>

    </div>
</div>
</div>


</html>

<script src="../static/jquery.js"></script>

<script>

// Loading text :) 

console.log("you ran this - right?")
var lang = document.getElementById('lang_code').innerHTML;
var text_data;
console.log(lang)
// Selecting Language . . . 
if (lang === "eng"){
    console.log("Ok man, I guess it's english ")
    var text = $.post('/ENG');
}
else if (lang === "suo"){
    console.log("suo! listen up lol")
    var text = $.post('/SUO');
}
else if (lang === "sve"){
    console.log("Sve! lol listen up")
    var text = $.post('/SVE');
}
text.done(function(data){
    text_data = data;
    
    console.log("changes canknbe sein")
    console.log(data.headers)
    console.log(typeof data.headers)
    console.log(Object.getOwnPropertyNames(data.headers));
    console.log(data.headers[0])
    console.log(data.headers[1])
    console.log(data.headers[2])

    //Headers
    document.getElementById('welcome').innerHTML=data.headers[0];
    document.getElementById('about').innerHTML=data.headers[1];
    document.getElementById('intro').innerHTML=data.intro;
    // Body
    document.getElementById('p2').innerHTML=data.p2;
    document.getElementById('p3').innerHTML=data.p3;
    document.getElementById('p4').innerHTML=data.p4;
    document.getElementById('updated').innerHTML=data.updated;
    document.getElementById('instructions').innerHTML=data.headers[2];
    document.getElementById('p5').innerHTML=data.p5;
    document.getElementById('p6').innerHTML=data.p6;
    // Labels
    console.log("the labels lol")
    console.log(data.labels)
    // for some reason beyond me, this line only worked with jquery :/ 
    $('#input').attr('placeholder',data.labels[0]);
    document.getElementById('Translate').value = data.labels[1];
    document.getElementById('rootword').innerHTML = data.labels[2];
    document.getElementById('instance').innerHTML = data.labels[3];
    document.getElementById('definition').innerHTML = data.labels[4];
    document.getElementById('examples').innerHTML = data.labels[5];
    document.getElementById('upvotes').innerHTML = data.labels[6];
    document.getElementById('downvotes').innerHTML = data.labels[7];
    document.getElementById('cycle_up').innerHTML = data.labels[8];
    document.getElementById('cycle_down').innerHTML = data.labels[9];
    document.getElementById('report').innerHTML = data.labels[10];

})


var answers_dict = {};
var answers_count_dict = {};
var retainer;
var retainer2;

// erkat doesn't work for some reason :(  you'll have to look into this. !!!
// The word 'an' gives a 'index out of bounds error ' in "lol, what is an eunukki?"  also this input :(  ok so everything seems like it's cool here ... umm ya
// know, eunukki is a good word :)
// !!! definitions that have () in them fuck you up
// ja -->  gives a thing
// nielaista pesukone doesn't load all the way . . . 
// bongi doesn't load. 
// a lot of entries seem to look like this : [('ajaa lapaan= runkata', '', 13, '3')]
// eunukkia shows up as eunukki in the instance thing :(
// !!! starting with a space fucks you up :(
// !!! eunukki erkka won't work when re-inserted. :( 
// !!! eunukki eunukilla eunukki   -- paste that in, and 'eli' comes up as an option. wtf? lol
// enää suggests entä as an answer. I'd hardcode this one out.
// multiple entries of the same word cause problems.
// The replace doesn't keep case. It doesn't really matter tbh, but it is technically an imperfection. 
// provide a limit to the upcycle

// This is the primary function for taking in the translations and putting them in the table.
function set_up(){
var json_in = retainer.slice(1,(retainer.length -1));

var words_patt = /\{.*?\}/g
var key_patt = /\{\(\'.*\', \'.*\'\):/
var key_divider_patt = /'[^,]*?'/g

var all_answers_patt = /: \[.*\]/
var individual_answers_patt = /\(.*?(\'|\")\d{1,2}(\'|\")\)/g 
var answer_elements_patt = /\'.*?\'/g

// this keeps track of lemmas we've done so far.
var lemmas = []

var words = json_in.match(words_patt)


for (var word of words){
    // First, we gotta find the lemma and instance.
    key = word.match(key_patt)[0];

    divided_keys = key.match(key_divider_patt);
    
    lemma = divided_keys[0].replace(/\"/g,'').replace(/\'/g,'').trim();
    instance = divided_keys[1].replace(/\"/g,'').replace(/\'/g,'').trim();
    console.log("what are we on now?")
    console.log(lemma)
    console.log(instance)
    console.log("lemmas!")
    console.log(lemmas)
    console.log("true or dare?")
    console.log(quick_include(lemmas,lemma))
    // First, we need to see if we've already done it.
    if (quick_include(lemmas,lemma)==false){
        console.log("confirm 0")
        lemmas.push(lemma)
    // Now let's get all the answers.

    var all_answers = word.match(all_answers_patt)[0]
    console.log('all the answes!')
    console.log(all_answers)
    var individual_answers = all_answers.match(individual_answers_patt)

    // enter it into the dictionaries - you will need this to cycle through answers.

    answers_dict[lemma.replace(/\'/g,"")] = individual_answers
    answers_count_dict[lemma.replace(/\'/g,"")] = 0

    // creating the table rows.
    
    var new_row = document.createElement("TR");
    new_row.id = lemma;
    document.getElementById('answers_body').appendChild(new_row);
    
    // add in lemma and instance
    var lemma_td = document.createElement("TD");
    lemma_td.id = lemma + '0';
    lemma_td.innerHTML = lemma.replace(/\'/g,"");
    new_row.appendChild(lemma_td);
    var instance_td = document.
    createElement("TD");
    instance_td.id = lemma + '1';
    instance_td.innerHTML = instance.replace(/\'/g,"");;
    new_row.appendChild(instance_td);

    console.log('the individual answers are . . . ')
    console.log(individual_answers)
    var answer_elements = individual_answers[0].match(answer_elements_patt);
    // Now we're actually placing the data in the HTML.
    for (var i = 0; i < 4 ; i++){
        var table_data = document.createElement("TD");
        table_data.id = lemma+ (i+2).toString();
        table_data.innerHTML = answer_elements[i].replace(/\'/g,"");
        new_row.appendChild(table_data)
    }
    // adding the up button. . .
    var uptd = document.createElement("TD");
    var upbtn = document.createElement("BUTTON");
    upbtn.id = lemma+(6).toString();
    upbtn.innerHTML = text_data.labels[8];
    upbtn.onclick= function() {cycle_answers(this.id)}; 
    new_row.appendChild(uptd);
    uptd.appendChild(upbtn);
    // adding the cycle down button.
    var downtd = document.createElement("TD");
    var downbtn = document.createElement("BUTTON");
    downbtn.id = lemma+(7).toString();
    downbtn.innerHTML = text_data.labels[9];
    downbtn.onclick= function() {cycle_answers_back(this.id)}; 
    new_row.appendChild(downtd);
    downtd.appendChild(downbtn);
    // adding the report button.
    var reptd = document.createElement("TD");
    var repbtn = document.createElement("BUTTON");
    repbtn.id = lemma + (8).toString();
    repbtn.innerHTML = text_data.labels[10];
    repbtn.onclick= function(){report_misslemmatization(lemma,instance,repbtn)}
    // !!! when you figure out the function, append it here.
    new_row.appendChild(reptd);
    reptd.appendChild(repbtn);
    }
    else{
        // So this lemma has been seen before. let's not give it a new entry, but we can update the 
        // already existing entry.
        console.log('confirm 1');

        // accessing the dataslot
        var instance_entry = document.getElementById(lemma+'1');
        // first let's see if this instance has already been seen. If it has, let's not repeat.
        
        // If there were multiple entries so far, then we're dealing with a string that needs to be broken up by commas.
        if ((instance_entry.innerHTML.includes(','))){  
            console.log('confirm 2')
            var instances = instance_entry.innerHTML.split(',')
            var trimmed_instances = []
            console.log(instances)
            for (var trimmed_i ; trimmed_i < instances.length ; trimmed_i ++){
                trimmed_instances.push(instances[trimmed_i].trim())
            }
            console.log(trimmed_instances);
            if (quick_include(trimmed_instances,instance.replace(/\'/g,''))== false){
                instance_entry.innerHTML = instance_entry.innerHTML + ', ' + instance.replace(/\'/g,'');
            }
        }
        else{
            console.log('confirm 3')
            // In this case, we do have a current entry, but there has only been one instance so far seen.
            // This is easier to parse :) Let's see if the instances are identical.
            console.log(instance_entry.innerHTML.trim());
            console.log(instance.replace(/\'/g,'').trim());
            if ( !(instance_entry.innerHTML.trim() === instance.replace(/\'/g,'').trim()) ){
                console.log("confirm 4");
                instance_entry.innerHTML = instance_entry.innerHTML + ', ' + instance.replace(/\'/g,'');
            }
            

        }
    }

    // Highlighting the instances found in the text.
    highlight(lemma,instance);

}

}

function clear(){
    var clear_me = document.getElementById('answers_body')
    while (clear_me.firstChild){
        clear_me.removeChild(clear_me.firstChild)
    }
}

// This helps get rid of unused tooltips and other HTML junk.
var trigger = document.getElementById('input');
trigger.addEventListener('input', function() {
    console.log(trigger.innerHTML)
    if (trigger.innerHTML === "<br>"){
        trigger.innerHTML = ""
    }
    console.log('one chile')
    
    console.log(trigger.childNodes)
});



function cycle_answers(btn_id){
    
    
    // Figuring out which label we're changing. Once we have the lemma, we can figure everything else out.
    var btn = document.getElementById(btn_id);
    var lemma = btn.parentNode.parentNode.firstChild.innerHTML;
    console.log(lemma)

    // Retrieving what the count currently is at. 
    var count = answers_count_dict[lemma];
    console.log(count)
    // picking our new translation.
    var translations = answers_dict[lemma];
    console.log(translations)
    // Incrementing the count. We can't let it get too large though.
    if (count < translations.length -1){
    count +=1; 
    // setting the count.
    answers_count_dict[lemma] = count;
    }
     
    
    
    var new_translation = translations[count];

    console.log(new_translation);
    // Now we're actually going in and replacing the HTML
    var answer_elements_patt = /\'.*?\'/g
    var answer_elements = new_translation.match(answer_elements_patt)
    for (var i = 0; i < 4 ; i++){
        var change_me_id = lemma + (i+2).toString();
        console.log(change_me_id)
        var change_me = document.getElementById( change_me_id )
        change_me.innerHTML = answer_elements[i]
    }

}


function cycle_answers_back(btn_id){
    
    

    // Figuring out which label we're changing. Once we have the lemma, we can figure everything else out.
    var btn = document.getElementById(btn_id);
    var lemma = btn.parentNode.parentNode.firstChild.innerHTML;
    

    // Retrieving what the count currently is at. 
    var count = answers_count_dict[lemma];
    
    // We can't let the count go below zero.
    if (count >= 1){
        count -=1; 
        // setting the count.
       answers_count_dict[lemma] = count;
    }
 

    // picking our new translation.
    var translations = answers_dict[lemma];
    var new_translation = translations[count];

    console.log(new_translation);

    // Now we're actually replacing the HTML
    var answer_elements_patt = /\'.*?\'/g
    var answer_elements = new_translation.match(answer_elements_patt)
    for (var i = 0; i < 4 ; i++){
        var change_me_id =  lemma + (i+2).toString();
        var change_me = document.getElementById( change_me_id )
        change_me.innerHTML = answer_elements[i]
    }

}


function highlight(lemma,instance){
    // For some darn reason, there are apostraphes around the instances :(
    lemma = lemma.replace(/\'/g,'');
    instance = instance.replace(/\'/g,'');
    var count = answers_count_dict[lemma]
    var translation = answers_dict[lemma][count]
    var answer_elements_patt = /\'.*?\'/g
    var answer_elements = translation.match(answer_elements_patt)
    var definition = answer_elements[0];
    
    console.log(definition);
    // We don't want to look for the word in embedded contexts.
    // !!! what if, what if the word is at the end of the document?
    box = document.getElementById('input');
    parse_me = box.innerHTML;
    new_html = "<div class='tooltip' name='$' readonly><mark>$</mark><span class='tooltiptext'>$</span></div>";
    new_html = new_html.replace('$',instance);
    new_html = new_html.replace('$',instance);
    new_html = new_html.replace('$',definition);
    var replace = new RegExp(instance,"gi");
    parse_me = parse_me.replace(replace,new_html);
    box.innerHTML=parse_me;
} 

function quick_include(arr,obj) {
    return (arr.indexOf(obj) != -1);
}

function report_misslemmatization(lemma,instance,button) {
    
    if (button.innerHTML === "Reported!"){
        console.log("yeah, you already clicked this haha")
    }
    else{
        if (confirm("Are you sure you want to report this as incorrect?")){
    button.innerHTML = "Reported!"
    button.style.color = "white"
    button.style.backgroundColor = "DarkGrey"
    console.log("ok so lets see")
    console.log(button)
    console.log("anything?")
    $.ajax({
                url: '/report',
                dataType: 'text',
                data: {
                    lemma:lemma,
                    instance:instance,
                },
                success: function( data, textStatus, jQxhr ){
                    console.log("hey man, you did it. you eally eally did it.")
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    console.log( errorThrown );
                }
            });
        }
    else{
        console.log("You cancelled lol")
    }
        }
}

$(function() {
    $('#Translate').bind('click', function() {
        console.log("Here's what the inner HTML looks like, tbh")
        // this is to get rid of old useless tooltips. It sends the caret position back, but that's not a big deal tbh. I think it would get sent back anyway.
        var ipt = document.getElementById('input');
        if (ipt.innerHTML.match(/<div class(?!(.*?(<mark>.*?<\/mark>))).*?<\/span><\/div>/g)){
        // This has the annoying side-effect of replacing the caret position :/ but it doesn't seem like that big of a deal to be honest. 
        ipt.innerHTML = ipt.innerHTML.replace(/<div class(?!(.*?(<mark>.*?<\/mark>))).*?<\/span><\/div>/g,'');
        }
        console.log(document.getElementById("input").innerHTML)
        $.getJSON('/translate', {
        input: document.getElementById("input").innerHTML,
      }, function(data) {
          retainer = (data.result).toString();
          document.getElementById("input").innerHTML = data.cleaned_text;
          clear()
          set_up()
        //$("#result").text( (data.result).toString() );
        
      });
      return false;
    });
  });

</script>

<!--

var answers_dict = {};
var answers_count_dict = {};

var json_in = retainer.slice(1,(retainer.length -1));

var words_patt = /\{.*?\}/g
var key_patt = /\{\(\'.*\', \'.*\'\):/
var key_divider_patt = /'[^,]*?'/g

var all_answers_patt = /: \[.*\]/
var individual_answers_patt = /\(.*\)/g 
var answer_elements_patt = /\'.*?\'/g

var words = json_in.match(words_patt)


for (var word of words){
    // First, we gotta find the lemma and instance.
    key = word.match(key_patt)[0];

    divided_keys = key.match(key_divider_patt);
    
    lemma = divided_keys[0];
    instance = divided_keys[1];
    
    // Now let's get all the answers.

    var all_answers = word.match(all_answers_patt)[0]
    var individual_answers = all_answers.match(individual_answers_patt)

    // enter it into the dictionaries - you will need this to cycle through answers.

    answers_dict[lemma] = individual_answers
    answers_count_dict[lemma] = 0

    // creating the table rows.
    
    var new_row = document.createElement("TR");
    new_row.id = lemma;
    document.getElementById('answers').appendChild(new_row);
    
    // add in lemma and instance
    var lemma_td = document.createElement("TD");
    lemma_td.id = 0;
    lemma_td.innerHTML = lemma;
    new_row.appendChild(lemma_td);
    var instance_td = document.createElement("TD");
    instance_td.id = 1;
    instance_td.innerHTML = instance;
    new_row.appendChild(instance_td);



    var answer_elements = individual_answers[0].match(answer_elements_patt);

    for (var i = 0; i < 4 ; i++){
        var table_data = document.createElement("TD");
        table_data.id = i;
        table_data.innerHTML = answer_elements[i]
        new_row.appendChild(table_data)
    }
    var btn = document.createElement("BUTTON");
    btn.id = 5;
    new_row.appendChild(btn);

}


function cycle_answers(lemma){

}


-->