<!DOCTYPE html>

<html>
<div class='navbar'>
    <label for="">In English</label>
    <label>Suomeksi</label>
    <label>På Svenska</label>
</div>

<div class='row'>
    <div class='column'>

        <h1>Welcome to the Finnish Slang Translator!</h1>
        <h2>About</h2>
        <p>The Finnish Slang translator is a translation tool that provides the
            definitions of Finnish Slang words that are found within a given text.
            This tool is meant to help intermediate and advanced students of the 
            Finnish language, and it presupposes that the user understands standard
            Finnish quite well, because the translations are provided in Finnish. 
        </p>
        <p> All of the definitions here are taken from the Finnish Urban dictionary,
            the link to which is here : <a> urbaanisanakirja.com </a> These definitions are 
            provided by private individuals who have made themselves part of that commmunity.
            For that reason, some definitions may be more or less accurate - so a plus / minus 
            rating is provided next to each translation, and an option to cycle through different 
            definitions is provided, if multiple translations were suggested. Due to the sourcing 
            of the definitions, if a slang word isn't on that website, it won't be translated by the app.
            All rights to the content exclusively belong to urbaanisanakirja.com. 

        </p>

        <p> For the time being, this translator only translates Slang for the Finnish language.
            However, I would like to add multiple langauges to this app. If you know of a language 
            that you would like to be added, and you think you have the resources to help, send 
            an email to takaisin140116@gmail.com. Or if you have any other comments or questions, please
            direct them to that email.
        </p>
        <p> Thank you for enjoying the app! </p>
        <h2>Instructions</h2>
        <p> Using this translator is simple. Enter the text you wish to translate into the box,
            and then hit submit. All words in the text that were found to be slang words will 
            have their translations rendered in the bottom. 
        </p>


    </div>
    <div class='column'>
        <input type='text' placeholder="Insert text here" id='input'>
        <input type='submit' value="Translate", id="Translate">
        <p id="result"></p>
    </div>
</div>



</html>

<script src="static/jquery.js"></script>

<script>

$(function() {
    $('#Translate').bind('click', function() {
      $.getJSON('/translate', {
        input: $('#input').val(),
      }, function(data) {
          console.log("okok!!");
        $("#result").text( (data.result).toString() );
      });
      return false;
    });
  });

</script>